@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
		
body{
	font-family: 'Roboto', sans-serif;
}

/*Header*/

.cabecera{
	background-color: #0087FF;
	height: auto;
	display: flex;
	justify-content: space-between;
}

.cabecera h1{
	color: #fff;
	padding: 10px;
	font-weight: bold;
}

/*Cuerpo index*/

.index-tabla{
	padding: 20px;
}

/*Agregar*/

.fa-circle-plus{
	padding-left: 5px;
	padding-top: 6px;
	font-size: 1.4rem;
	color: #fff;
}

span{
	font-size: 1.4rem;
	color: #fff;
    font-weight: bold;
}

.agregar {
    display: inline-block;
    background-color: #0087FF;
    padding: 5px;
    border-radius: 10px;
}

a{
	text-decoration: none;
}

/*Tabla*/

.table{
	text-align: center;
}

/*Editar / Eiliminar*/

.fa-solid{
	font-size: 1.3rem;
}

.fa-pen-to-square{
	color: #27B809;
}

.fa-trash{
	color: #B80C09;
}

/*Formulario Ingresar / Actualizar*/

.formulario{
	background-color: #FFF;
	background-image:  linear-gradient(30deg, #0087FF 12%, transparent 12.5%, transparent 87%, #0087FF 87.5%, #0087FF), linear-gradient(150deg, #0087FF 12%, transparent 12.5%, transparent 87%, #0087FF 87.5%, #0087FF), linear-gradient(30deg, #0087FF 12%, transparent 12.5%, transparent 87%, #0087FF 87.5%, #0087FF), linear-gradient(150deg, #0087FF 12%, transparent 12.5%, transparent 87%, #0087FF 87.5%, #0087FF), linear-gradient(60deg, #0087FF77 25%, transparent 25.5%, transparent 75%, #0087FF77 75%, #0087FF77), linear-gradient(60deg, #0087FF77 25%, transparent 25.5%, transparent 75%, #0087FF77 75%, #0087FF77);
	background-size: 60px 105px;
	background-position: 0 0, 0 0, 30px 53px, 30px 53px, 0 0, 30px 53px;
	display: flex;
	min-height: 100vh;
}

.form{
	background-color: #fff;
	margin: auto;
	width: 90%;
	max-width: 400px;
	padding: 4.5em 3em;
	border-radius: 10px;
	box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
	text-align: center;
}

.form__title{
	font-size: 2rem;
	margin-bottom: .5em;
}


.form__container{
	margin-top: 3em;
	display: grid;
	gap: 2.5em;
}

.form__group{
	position: relative;
	--color: #5757577e;
}

.form__input{
	width: 100%;
	background: none;
	color: #706c6c;
	font-size: 1rem;
	padding: .6em .3em;
	border: none;
	outline: none;
	border-bottom: 1px solid var(--color);
	font-family: 'Roboto', sans-serif;
}

.form__input:not(:placeholder-shown){
	color: #4d4646;
}

.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label{
	transform: translateY(-12px) scale(.7);
	transform-origin: left top;
	color: #0087FF;
}

.form__label{
	color: var(--color);
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 5px;
	transform: translateY(10px);
	transition: transform .5s, color, .3s;
}

.form__submit{
	cursor: pointer;
	background: #0087FF;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1rem;
	padding: .8em 0;
	border: none;
	border-radius: .5em;
}

.form__line{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #0087FF;
	transform: scale(0);
	transform: left bottom;
	transition: transform .4s;
}



.form__input:focus ~ .form__line,
.form__input:not(:placeholder-shown) ~ .form__line{
	transform: scale(1);
}

@media (max-width:425px){
	.formulario{
		padding-top: 10px;
	}

	.form__title{
		font-size: 1.8rem;
	}
}